* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background: url("./background--img.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  width: 100%;
  height: 1024px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.cheat--1 {
  width: 891px;
  color: rgba(223,66,66,1);
  position: absolute;
  top: 356px;
  left: 45px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.cheat--2 {
  width: 509px;
  color: rgba(223,66,66,1);
  position: absolute;
  top: 285px;
  left: 45px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.cheat--3 {
  width: 741px;
  color: rgba(223,66,66,1);
  position: absolute;
  top: 321px;
  left: 45px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.cheat--4 {
  width: 376px;
  color: rgba(223,66,66,1);
  position: absolute;
  top: 249px;
  left: 45px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.cheat--5 {
  width: 566px;
  color: rgba(223,66,66,1);
  position: absolute;
  top: 213px;
  left: 45px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}

.cheat--6 {
  width: 522px;
  color: rgba(223,65,65,1);
  position: absolute;
  top: 177px;
  left: 45px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}

.title {
  width: 100%;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 37px;
  left: 45px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: left;
}

.knife-id {
  width: 881px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 429px;
  left: 45px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}

.img--2 {
  width: 362px;
  height: 499px;
  background: url("./img--2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 493px;
  left: 59px;
  border-top-left-radius: 31px;
  border-top-right-radius: 31px;
  border-bottom-left-radius: 31px;
  border-bottom-right-radius: 31px;
  overflow: hidden;
}
.img--3 {
  width: 393px;
  height: 499px;
  background: url("./img--3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 493px;
  left: 489px;
  border-top-left-radius: 49px;
  border-top-right-radius: 49px;
  border-bottom-left-radius: 49px;
  border-bottom-right-radius: 49px;
  overflow: hidden;
}
